# CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET
LOGGER_LEVEL=DEBUG

APP_PATH=/path/to/root/directory

RABBITMQ_HOST=localhost
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

RABBIT_QUEUE_PREFIX=CRAWLER
CAPTCHA_KEY=27d819d5ee02a13d4152ab123f16cd6d
