anticaptchaofficial==1.0.31
astroid==2.5
autopep8==1.5.5
certifi==2021.5.30
charset-normalizer==2.0.6
click==7.1.2
greenlet==1.1.2
idna==3.2
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pika==1.2.0
playwright==1.20
py==1.10.0
pycodestyle==2.6.0
pyee==8.1.0
pylint==2.7.0
python-dotenv==0.15.0
requests==2.26.0
robotframework==3.2.2
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.7
wrapt==1.12.1
pypdf==3.17.4
